 .u-section-1 {
  background-image: url("images/toprzemek.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 593px;
}

.u-section-1 .u-text-1 {
  margin: 96px -50px 60px 173px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 131px;
    margin-bottom: 25px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 120px;
    margin-bottom: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 395px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 249px;
  }
}